<!-- jquery -->
<%- js('lib/jquery/jquery.min') %>
<%- js('lib/justified-gallery/js/jquery.justifiedGallery.min.js') %>
<!-- clipboard -->
<% if (is_post()){ %>
<%- js('lib/clipboard/clipboard.min') %>
<script type="text/javascript">
  $(function () {
    // copy-btn HTML
    var btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"<%= __('tooltip.copy_tip') %>\">";
    btn += '<i class="far fa-clone"></i>';
    btn += '</span>';
    // mount it!
    $(".highlight table").before(btn);
    var clip = new ClipboardJS('.btn-copy', {
      text: function (trigger) {
        return Array.from(trigger.nextElementSibling.querySelectorAll('.code')).reduce((str, it) => str + it
          .innerText + '\n', '')
      }
    });
    clip.on('success', function (e) {
      e.trigger.setAttribute('aria-label', "<%= __('tooltip.copied') %>");
      e.clearSelection();
    })
  })
</script>
<% } %>
<%- js('js/main') %>
<!-- search -->
<% if (config.search && (page.search || page.type === "search")){ %>
<%- js('js/search.js') %>
<script type="text/javascript">
  $(function () {

    var $inputArea = $("input#search-input");
    var $resultArea = document.querySelector("div#search-result");

    $inputArea.focus(function () {
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'search-input', 'search-result');
    });

    $inputArea.keydown(function (e) {
      if (e.which == 13) {
        e.preventDefault();
      }
    });

    var observer = new MutationObserver(function (mutationsList, observer) {
      if (mutationsList.length == 1) {
        if (mutationsList[0].addedNodes.length) {
          $(".search-no-result").hide();
        } else if (mutationsList[0].removedNodes.length) {
          $(".search-no-result").show(200);
        }
      }
    });

    observer.observe($resultArea, {
      childList: true
    });

  });
</script>
<% } %>
<!-- valine comments -->
<% if (page.layout === "post" && theme.valine.enable){ %>
<script src='//unpkg.com/valine@1.4.14/dist/Valine.min.js'></script>
<script>
  new Valine({
    el: '#valine_container',
    appId: '<%= theme.valine.app_id %>',
    appKey: '<%= theme.valine.app_key %>',
    placeholder: "<%= theme.valine.placeholder %>",
    pageSize: '<%= theme.valine.page_size %>',
    avatar: '<%= theme.valine.avatar %>',
    lang: '<%= theme.valine.lang %>',
    enableQQ: '<%= theme.valine.enable_qq %>'
  })
</script>
<% } %>
<!-- busuanzi -->
<% if ((page.path === "index.html" | page.layout === "post") && theme.busuanzi.enable){ %>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>